$theme-white-nav-anchor_focus: rgba(0, 0, 0, 0);
$theme-white-nav-anchor-opened: rgba(0, 0, 0, 0);
$theme-white-nav-anchor-opened_hover: rgba(0, 0, 0, 0);
$theme-white-nav-anchor-opened_focus: rgba(0, 0, 0, 0);
$theme-white-menu-list-active: rgba(0, 0, 0, 0);
$theme-white-menu-list-toggled: rgba(0, 0, 0, 0);
$theme-white-menu-list-submenu: rgba(0, 0, 0, 0);
$theme-white-sidebar-menu-active: #5783c7;
$theme-white-sidebar-menu-hover: #5783c7;
$theme-white-breadcrumb-link-color: red;